<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Liste des departements</h1>
  <button class="btn d-flex align-items-center justify-content-center bg-success text-white"  >
    <span  [routerLink]="['/departments-add']" routerLinkActive="router-link-active">Ajouter departement</span>
  </button>
  </div>



  <table class="table table-striped  ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom </th>
          </tr>
    </thead>
    <tbody>

      <tr *ngFor="let department of dpts;">
        <th scope="row">{{ department.id_dept }}</th>
        <td class="fw-medium ">
          {{ department.nom_dept }}
        </td>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" (click)="modify(department.id_dept)">Modifier</button>
          <button type="button" class="btn btn-danger ms-1" (click)="delete(department.id_dept)">Supprimer</button>
        </div>
      </tr>

    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshDepartments()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshDepartments()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
