<section class="bg-primary py-3 py-md-5 py-xl-8" style=" min-height: 100vh; display: flex; align-items: center;">
    <div class="container">
        <div class="row gy-4 align-items-center justify-content-center ">
            <div class="col-12 col-md-6 col-xl-7">
                <div class="d-flex justify-content-center text-bg-primary">
                    <div class="col-12 col-xl-9">
                        <!-- <img class="img-fluid rounded mb-4" loading="lazy" src="./assets/img/bsb-logo-light.svg" width="245" height="80" alt="BootstrapBrain Logo"> -->
                        <!-- <hr class="border-primary-subtle mb-4"> -->
                        <h2 class="h1 mb-4">Embrace Excellence in Managing Your Leaves</h2>
                        <p class="lead mb-5">Join a community of over 7k+ employees today and take control of your time
                            off.</p>
                        <div class="text-endx">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                                class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                                <path
                                    d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-5">
                <div class="card border-0 rounded-4">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
                            <div class="row gy-3 overflow-hidden">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="email" class="form-control" formControlName="email" name="email"
                                            id="email" placeholder="name@example.com" required>
                                        <label for="email" class="form-label">Email</label>
                                        <div *ngIf="userFormGroup.controls['email'].touched && userFormGroup.controls['email'].errors"
                                            class="text-danger">
                                            <small *ngIf="userFormGroup.controls['email'].errors['required']">Email is
                                                required</small>
                                            <small *ngIf="userFormGroup.controls['email'].errors['email']">Email must be
                                                valid</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="password" formControlName="password" class="form-control"
                                            name="password" id="password" value="" placeholder="Password" required>
                                        <label for="password" class="form-label">Password</label>
                                        <div *ngIf="userFormGroup.controls['password'].touched && userFormGroup.controls['password'].errors"
                                            class="text-danger">
                                            <small
                                                *ngIf="userFormGroup.controls['password'].errors['required']">password
                                                is required</small>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" name="remember_me"
                                            id="remember_me">
                                        <label class="form-check-label text-secondary" for="remember_me">
                                            Keep me logged in
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn btn-primary btn-lg" type="submit">Log in now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                                    <a href="#!">Forgot password</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>