<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <a [routerLink]="['/employes']" class="btn btn-primary btn-sm ml-1">
            <i class="fa fa-arrow-circle-left"></i> Back
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="card card-default">
        <div class="card-header">
          <h3 class="card-title">Ajouter Employé</h3>
        </div>

        <div class="card-body">
          <form  (ngSubmit)="onSubmit($event)" method="post">
            <div class="form-group">
              <label for="nom">Nom <span class="text-danger">*</span></label>
              <input type="text" id="nom" name="nom" formControlName="nom" class="form-control" required>
              <div *ngIf="hasError('nom', 'required')" class="text-danger">
                Ce champ est obligatoire.
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="prenom">prenom <span class="text-danger">*</span></label>
                <input type="text" id="prenom" name="prenom" formControlName="prenom" class="form-control" required>
                <div *ngIf="hasError('prenom', 'required')" class="text-danger">
                  Ce champ est obligatoire.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="department">Departement <span class="text-danger">*</span></label>
              <select id ="department" name="role" formControlName="department" class="form-control" required>
                <option value="" disabled selected>Choose a department</option>
                <option *ngFor="let department of departments" [value]="department.id_dept">{{ department.nom_dept }}</option>
              </select>
              <div *ngIf="hasError('department', 'required')" class="text-danger">
                Ce champ est obligatoire.
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email <span class="text-danger">*</span></label>
              <input type="email" id="email" name="email" formControlName="email" class="form-control" required>
              <div *ngIf="hasError('email', 'required')" class="text-danger">
                Email est obligatoire.
              </div>
              <div *ngIf="hasError('email', 'email')" class="text-danger">
                Veuillez saisir un email valide.
              </div>
            </div>
            <div class="form-group">
              <label for="solde">Solde <span class="text-danger">*</span></label>
              <input type="text" id="solde" name="solde" formControlName="solde" class="form-control" required>
              <div *ngIf="hasError('solde', 'required')" class="text-danger">
                Ce champ est obligatoire.
              </div>
            </div>

            <div class="form-group">
              <label for="mdp">Mot de passe</label>
              <input type="password" id="mdp" name="mdp" formControlName="mdp" class="form-control">
            </div>

            <div class="form-group">
              <label for="role">Rôle</label>
              <select id="role" name="role" formControlName="role" class="form-control">
                <option value="">Sélectionner le rôle</option>
                <option value="1">Employe</option>
                <option value="2">Manager</option>
                <option value="3">RH</option>
              </select>
            </div>

            <div class="card-footer" style="background: transparent;">
              <div class="form-group" style="float: right;">
                <button type="button" class="btn btn-default" (click)="formReset()">
                  reset
                </button>
                <button type="submit" class="btn btn-primary">
                  <i class="fa fa-save mr-1"></i>Enregistrer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
