<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>Liste des employés</h1>
  <button class="btn d-flex align-items-center justify-content-center bg-success text-white" routerLink="/employe-add">
    Ajouter un employé
  </button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom et prenom</th>
      <th scope="col">email</th>
      <th scope="col">Solde congé</th>
      <th scope="col">Departement</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <th scope="row">{{ employee.id }}</th>
      <td class="fw-medium">{{ employee.nom }} {{ employee.prenom }}</td>
      <td class="flex gap-2">{{ employee.email }}</td>
      <td class="text-warning fw-medium">{{ employee.soldeconge }} Jours</td>
      <td class="flex gap-2">{{ employee.departement}}</td>
      <td class="flex gap-2">{{ employee.role }}</td>
      <td class="text-end">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" [routerLink]="['employee-modify']">Modifier</button>
          <button type="button" class="btn btn-danger ms-1" (click)="onDeleteEmployee(employee.id)">Supprimer</button>        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshEmployees()">
  </ngb-pagination>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshEmployees()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
