
<h1>Mes demandes de congé</h1>

<table class="table table-striped  ">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Motif</th>
			<th scope="col">Duree</th>
			<th scope="col">Status</th>
		</tr>
	</thead>
	<tbody>
		
     <tr *ngFor="let demande of demandes">
      <th scope="row">{{ demande.id }}</th>
      <td>{{ demande.motif }}</td>
      <td class="flex gap-2">
        <div class="fw-medium flex-nowrap">De <span class="flex-nowrap text-decoration-underline fw-normal">{{ demande.date_debut }}</span></div>
        <div class="fw-medium">A <span class="flex-nowrap text-decoration-underline fw-normal">{{ demande.date_fin }}</span></div>
      </td>
      <td class="text-warning fw-medium">{{ demande.status }}</td>
    </tr>
		
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
		(pageChange)="refreshDemandes()">
	</ngb-pagination>

	<select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshDemandes()">
		<option [ngValue]="2">2 items per page</option>
		<option [ngValue]="4">4 items per page</option>
		<option [ngValue]="6">6 items per page</option>
	</select>
</div>
